.expirience {
    padding-top: 1.5rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;

}

.expirience__subTitle {
    margin: 0 auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid mediumSeaGreen;
}

.expirience__wrapper {
    text-align: left;
    border-bottom: 1px solid mediumSeaGreen;
    margin-bottom: 2.5rem;
}