.abilities {
    //margin-top: 2.5rem;
    //margin-bottom: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c5267; 
}

.abilities__heading {
    font-size: 1.6em;
}

.abilities__subHeading {
    color: silver;
}

.abilities__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
    width: 30%;
    border-bottom: 1px solid mediumSeaGreen;
    border-top: 1px solid mediumSeaGreen;
}

.abilities__item {
    width: 100%;
    margin: .3rem 0 .3rem 10%;
    color: silver;
    font-size: 1.1em;
}

.abilities__item-skillContainer {
    display: flex;
    justify-content: space-between;
}

.empireContainer {
    width: 18%;
    margin-right: 2.1rem;
    padding: .15rem .1rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid mediumSeaGreen;
    border-radius: 5%;
    
}

.empireContainer-stars {
    margin-right: .2rem;
    color:mediumSeaGreen;
}

.abilities__education {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
    width: 30%;
    border-bottom: 1px solid mediumSeaGreen;
    border-top: 1px solid mediumSeaGreen;
    font-size: 1.1em;

    & a {
      color: silver;
      margin-left: 1rem;
      
      &:hover {
          color: mediumSeaGreen;
      } 
    }
    & p {
        color: silver;
        margin-right: 1rem;
    }
}

// .abilities__education__item {
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     background-color: gray;
// }