// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$mediumSeaGreen : #30aa6b;
$brown : #b2332c;
$darkcoolgrey: #3c5267;
$silver: #b7bbc1;
$mediumturquoise: #42aacf;

// Break points

$xs : 575.99px;
$sm : 576px;
$md : 767.95px;
$lg : 991.95px;
$xl : 1199.95px;